extend layout

mixin pluralize(value, single, other)
  -string=other
  if(value==1)
    -string=single
  =string

block content
  div#posts
    input.search.form-control(type='text', placeholder='Filter')
    .posts
      each post in posts
        article.post
          h3.post-title
            a(href='#{post.link}', target='_blank') #{post.title}
          .post-meta
            span.post-date
              | #{post.time} &mdash;
            span.post-source #{post.source}#{' '}
            if post.comment_link
              span &mdash;#{' '}
                a(href='#{post.comment_link}', target='_blank') #{post.comment_count}#{' '}
                  +pluralize(post.comment_count, 'comment', 'comments')
          hr
